# ssyan-dev/gonest

## 📒 About

**gonest** is a CLI [**Golang**](https://go.dev) back-end project generator

## 💻 Usage

### Add plugin:

(for example air)
```bash
~ gonest add air
```

...

## 🔗 Links
### [🖇️ Developer's Site](https://ssyan.ru)
### [🚀 Developer's GitHub](https://github.com/ssyan-dev)